body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.reservationI {
    width: 90%;
    margin: 100px auto;
    border: 2px solid #5D5252;
    border-radius: 10px;
    padding: 20px 45px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.car {
    padding: 5px;
    width: 30%;
    height: 85vh;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.575);
    transition: box-shadow 0.7s ease;
}

.car img {
    width: 100%;
    height: 40%;
    padding: 0;
    border-radius: 25px;
}

.car h1 {
    font-size: 30px;
}

.car span {
    color: #333;
    font-size: 20px;
    margin: 5px 10px;
}

.car i {
    color: #699BF7;
}

.from {
    display: block;
    text-align: left;
    margin-top: 10px;
}

.info {
    display: block;
    text-align: left;
    margin-top: 50px;
    padding: 10px 0;
}

.infoem {
    background-color: #241818e0;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.reserbtn {
    background-color: transparent;
    color: black;
    width: 60%;
    height: 7%;
    border: 4px solid #5D5252;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.reserbtn:hover {
    background-color: #D6CCCC;
}